<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/acknowledgement.css"/>
    <title>Acknowledgement</title>
</head>
<body>
    <section id="acknowledgement">
        <div class="container">
            <h2>Acknowledgement</h2>
            <p>
                In the name of Allah, the Most Gracious, the Most Merciful. I am deeply grateful to Allah for guiding me in the creation of WayToSunnah, an Islamic application dedicated to serving the needs of the Muslim community. This platform is designed to facilitate easy access to essential Islamic resources and provide users with the ability to manage their personal data in a secure and respectful manner.
            </p>
            <p>
                I also wish to acknowledge the continuous support and encouragement from my family and friends, who have been instrumental in the realization of this project.
            </p>
            <p>
                May Allah bless this effort and make it a source of benefit for all who use it. Ameen.
            </p>
            <p>
                For more information or to manage your data, please visit our website: <a href="https://islam24-website-1.onrender.com/">WayToSunnah</a>.
            </p>
        </div>
    </section>
    
</body>
</html>