<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Your Name"/>
    <link rel="stylesheet" href="/static//styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Islam 24</title>
</head>
<body>
    <!-- Header Area -->
    <header>
        <div class="header-left">
            <a href="/">
                <img src="/static/resource/group.png" alt="Islam 24" class="logo">
                <span class="title">Islam 24</span>
            </a>
            
        </div>
        <div class="header-right">
            <a href="/acknowledgement">Acknowledgement</a>
        </div>
    </header>

    <!-- Main Content Area -->
    <main>
        <div class="main-content">
            <div class="right-content">
                <h1>Islam 24</h1>
                <p>A Muslim Guide: Prayer Times, Qibla Finder </p>
                <div class="app-buttons">
                    <a href="https://play.google.com/store/apps/details?id=com.hazrat.islam24&hl=en_US" target="_blank" class="google-play-btn">
                        <i class="fa-brands fa-google-play"></i>
                        Download
                    </a>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer Area -->
    <footer>
        <div class="footer-links">
            <a href="/terms">Terms of services</a>
            <a href="/privacy_policy">Privacy Policy</a>
            <a href="/account_deletation">Account Deletion</a>
        </div>
        <p>Copyright © 2024 All Rights Reserved</p>
    </footer>
</body>
</html>
